.location--profile {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	width: 50%;
	max-width: 220px;
	min-height: 90px;
	margin: 0 auto;
	padding: 0 10px;
	@include box;

	i {
		display: block;
		float: left;
		font-size: 40rem;
		color: $color-primary;
	}

	.location__distance {
		display: flex;
		flex-direction: column;

		h2 {
			font-weight: 600;
			font-size: 20rem;
			@include titles($font-2);
		}
		h3 {
			font-size: 12rem;
			@include titles($font-2);
			color: get-opacity($color-primary, 0.5);
		}
	}
}
